{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %} | {{ block.super }}{% endblock %}
{% block content %}
  <div id="content-main" class="module">
    <h1>{% trans "Reset your password" %}</h1>
    <p>{% trans "Enter the email address for your admin account. We'll send you a link to reset your password." %}</p>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="submit-row">
        <input type="submit" class="default" value="{% trans 'Send reset link' %}">
      </div>
    </form>
  </div>
{% endblock %}