{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}{% trans "Choose new password" %} | {{ block.super }}{% endblock %}
{% block content %}
  <div id="content-main" class="module">
    <h1>{% trans "Choose a new password" %}</h1>
    {% if validlink %}
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit-row">
          <input type="submit" class="default" value="{% trans 'Set password' %}">
        </div>
      </form>
    {% else %}
      <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
      <p><a class="button" href="{% url 'admin_password_reset' %}">{% trans "Request a new link" %}</a></p>
    {% endif %}
  </div>
{% endblock %}